.loading{
    width: 50%;
    height: 40%;
    box-shadow: 0px 0px 20px 10px #000;
    position: fixed;
    z-index: 100;
    display: none;
}
.center-pos{
    display: flex;
    justify-content: center;
}